{% extends 'layout.twig' %}

{%block content%}

<form method="post">
	
</form>




<div class="large-12 columns success">
<h4>DEBUG:</h4>
<pre class="" style="font-size:12px; padding:10px; background-color:#fff; border: 1px solid #aaa;">

</pre>
</div>
{%endblock%}
{%block script%}

<script>



</script>
{%endblock%}

