<nav class="top-bar" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Home</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
		<a href="">Buscar Pixeles</a>
	</li>
	
  </ul>


   <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="">Pixeles</a></li>
	  <li><a href="">Nuevo pixel</a></li>
    <li><a href="">Añadir alertas</a></li>
    </ul>
  </section>

  
</nav>
