{% set globals ={
	'paises' : ['es','ar','mx', 'ro', 'pl', 'co', 'ec', 'fr', 'it'],
	'tipos_pixel' : 0..10,
 	} 
%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
<link rel="stylesheet" href="{{ asset('css/normalize.css')}}">
<link rel="stylesheet" href="{{ asset('css/foundation/css/foundation.min.css')}}">	
<link rel="stylesheet" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
<link rel="stylesheet" href="{{ asset('css/main.css')}}">

</head>
<body id="home">
{% include 'secciones/nav.twig' %}
<!--
CONTENT
-->
<div id="wrap" class="row" style="padding-top:10px;">
	<div class="row">
	{%block content%}{%endblock%}
	</div>
</div>
<!--
|-------------------------
| underscore templates
|-------------------------
-->
{% block templates %}{% endblock %}


<!--
|-------------------------
| Script
|-------------------------
-->
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
